<div class="container mt-3">
    <h1 class="mb-3 text-primary">Model Links</h1>
    <ul>
    <li><%= link_to "Badges", badges_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Challenge Comments", challenge_comments_path %></li>
    <li><%= link_to "Challenge Invites", challenge_invites_path %></li>
    <li><%= link_to "Challenge Participations", challenge_participations_path %></li>
    <li><%= link_to "Challenges", challenges_path %></li>
    <li><%= link_to "Notifications", notifications_path %></li>
    <li><%= link_to "Progress Logs", progress_logs_path %></li>
    <li><%= link_to "User Badges", user_badges_path %></li>
    <li><%= link_to "Users", users_path %></li>
    </ul>
</div>
