<h1>Progress Log</h1>
<p>User ID: <%= @log.user_id %></p>
<p>Challenge ID: <%= @log.challenge_id %></p>
<p>Description: <%= @log.description %></p>
<p>Progress: <%= @log.progress_value %> <%= @log.unit %></p>
<p>Logged at: <%= @log.logged_at %></p>
