<h1><%= @challenge.name %></h1>
<p>Description: <%= @challenge.description %></p>
<p>Start: <%= @challenge.start_date %> | End: <%= @challenge.end_date %></p>
<p>Visibility: <%= @challenge.visibility %></p>
<p>Status: <%= @challenge.status %></p>
