<div class="container mt-3">    
    <h1 class="text-primary mb-3">><%= @challenge.name %></h1>
    <p>Description: <%= @challenge.description %></p>
    <p>Start: <%= @challenge.start_date %> | End: <%= @challenge.end_date %></p>
    <p>Visibility: <%= @challenge.visibility %></p>
    <p>Status: <%= @challenge.status %></p>
</div>
